.hover {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  padding: 5px;
  border-radius: 4px;
  background-color: #1b5f5e;
  color: white;
}

.hover .price {
  font-weight: 700;
}

/* .hover * {
  box-sizing: content-box;
} */