/* Coolors Exported Palette - coolors.co/e7e247-3d3b30-4d5061-5c80bc-e9edde */

/* HSL */
$color1: hsla(58%, 77%, 59%, 1);
$color2: hsla(51%, 12%, 21%, 1);
$color3: hsla(231%, 11%, 34%, 1);
$color4: hsla(218%, 42%, 55%, 1);
$color5: hsla(76%, 29%, 90%, 1);

/* RGB */
$color1: rgba(231, 226, 71, 1);
$color2: rgba(61, 59, 48, 1);
$color3: rgba(77, 80, 97, 1);
$color4: rgba(92, 128, 188, 1);
$color5: rgba(233, 237, 222, 1);